# ==========================================
# 1. Configurações de IDEs
# ==========================================
# IntelliJ IDEA (ignora toda a pasta .idea e arquivos .iml)
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# ==========================================
# 2. Módulo Java (Spring Boot / Maven)
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 3. Módulo Python (FastAPI / Spacy)
# ==========================================
python-guardrails/.venv/
.venv/
env/
venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ==========================================
# 4. Sistema Operacional & Logs
# ==========================================
.DS_Store
Thumbs.db
*.log.idea/
.idea/
